<!DOCTYPE html>
<html>
    <head>
        <title>error</title>
        <meta charset="UTF-8">
        <meta name="robots" content="noindex,nofollow">
    </head>
    <body>
        <table>
            <tr>
                <th>Status</th>
                <td>{{error.status}}</td>
            </tr>
            <tr>
                <th>Error</th>
                <td>{{error.error}}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{error.message}}</td>
            </tr>
            <tr>
                <th>Trace</th>
                <td>{{error.trace}}</td>
            </tr>
        </table>
    </body>
</html>
